{% extends 'base.html.twig' %}

{% block body %}
<div id="mainWrapper">
    <div class="box">

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">
                    <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                </div>
            {% endif %}
        
            {% if app.user %}
                <div class="mb-3">
                    <h2>Bienvenue</h2>
                    <p>Vous êtes connecté en tant que <strong>{{ app.user.username }}</strong>, <a href="{{ path('app_logout') }}">Se déconnecter</a></p>
                </div>
            {% endif %}
            
            <h2>Identifiez-vous</h2>
            
            <p>
                <label for="inputUsername">Identifiant</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            </p>
            <p>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </p>
        
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
            <p>
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </p>
            
            <p>
                <button class="btn btn-lg btn-primary button whiteButton" type="submit">
                    C'est parti mon kiki !
                </button>
            </p>
        </form>

    </div>
</div>
{% endblock %}
