{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% set photo = entity.instance %}
{% set html_id = 'ea-lightbox-' ~ photo.id %}

{% set classes = [] %}

{# Galeries #}
{% for galerie in photo.galeries %}
    {% set classes = classes | merge(["galerie-" ~ galerie.slug]) %}
{% endfor %}

{# Photo planifiée #}
{% if photo.datePlanifiee %}
    {% set classes = classes | merge(["planifiee"]) %}
{% endif %}

{# Photo publiée #}
{% if photo.datePublication %}
    {% set classes = classes | merge(["publiee"]) %}
{% endif %}

{# Photo censurée #}
{% if photo.censure|length > 0 %}
    {% set classes = classes | merge(["censuree"]) %}
{% endif %}

<div class="photoThumb {{ classes|join(" ") }}">
    <img src="{{ asset(photo.thumbnail("mini")) }}" style="width: 280px; height: 280px; object-fit: contain">



    {% if photo.datePlanifiee %}
        <!-- photo planifiée -->
        <div class="isUsed">
            <span class="badge bg-primary">
                <i class="fa-fw fas fa-calendar"></i>
                {{ photo.datePlanifiee | date("d/m/Y")}}
            </span>
        </div>
    {% endif %}

    {% if photo.datePublication %}
        <!-- photo planifiée -->
        <div class="isUsed">
            <span class="badge bg-primary">
                <i class="fa-fw fas fa-calendar"></i>
                {{ photo.datePublication | date("d/m/Y")}}
            </span>
        </div>
    {% endif %}
    
    {% if photo.isCover or photo.isSite or photo.isCouv %}
    <div class="infosSite">
        <span class="badge bg-secondary">
            {% if photo.isCouv %}
            <i class="fa-fw fas fa-book"></i>
            {% endif %}
            {% if photo.isSite %}
            <i class="fa-fw fas fa-laptop"></i>
            {% endif %}
            {% if photo.isCover %}
            <i class="fa-fw fas fa-laptop-medical"></i>
            {% endif %}
        </span>
    </div>
    {% endif %}
    
    <div class="localActions">
        <!-- Lien lightbox -->
        <a href="#" data-featherlight="#{{ html_id }}" data-featherlight-close-on-click="anywhere">
            <i class="fa fa-expand"></i>
        </a>
        <a href="{{path("photo_censure",{id:photo.id})}}" target="_blank" class="censure"><i class="action-icon fa fa-eye-slash {{photo.isCensure ? "active":""}}"></i></a>
    </div>

</div>

{#  Lightbox #}
<div id="{{ html_id }}" class="ea-lightbox">
    <img src="{{ asset(photo.thumbnail("cover")) }}">
</div>
