{% extends 'base.html.twig' %}

{% block css %}
    <style type="text/css">
        body {
            background-color: #101010;
            font-family: "Open Sans", sans-serif;
        }

        header {
            display: grid;
            grid-template-columns: 150px 1fr 150px;
            align-items: center;
            text-align: center;
            padding: 20px;
            background: #D30F4B;
        }

        h1 {
            color: #D30F4B;
        }
        header a {
            color: rgba(100, 100, 100, 0.3);
        }
        header .links.right{
            display: flex;
            justify-content: flex-end;
        }

        #galerie {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
        }

        #galerie img {
            object-fit: contain;
            height: 300px;
            width: 300px;
            cursor: pointer;
        }

        #galerie figure {
            position: relative;
            margin: 20px;
            padding: 0;
        }

        #galerie figcaption {
            position: absolute;
            bottom: 5px;
            left: 5px;
            color: rgba(100, 100, 100, 0.3);

            font-size: 4em;
            font-family: sans-serif;
        }
    </style>

    <!-- Core CSS file -->
    <link rel="stylesheet" href="{{ asset('photoswipe/dist/photoswipe.css') }}">

    <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
         In the folder of skin CSS file there are also:
         - .png and .svg icons sprite,
         - preloader.gif (for browsers that do not support CSS animations) -->
    <link rel="stylesheet" href="{{ asset('photoswipe/dist/default-skin/default-skin.css') }}">

{% endblock css %}

{% block body %}

    <header>
        <ul class="links inverse">
            <li><a href="/shootings" title="Retour aux galeries"><span class="icon icon-arrow-left"></span></a></li>
        </ul>
        <a href="/">
            <img src="{{ asset('img/mr-photographes-logoV.svg') }}" id="mainLogo" width="85" height="58">
        </a>
        <ul class="links inverse right">
            <li><a href="/" title="Retour à l'accueil"><span class="icon icon-home"></span></a></li>
            <li><a href="/logout" title="Se déconnecter"><span class="icon icon-user-cancel"></span></a></li>
        </ul>
    </header>
    
    <div class="pal txtcenter">
        
        <h2>{{ shooting.nom }}</h2>
        {% if type == "shooting" %}
        <p><a href="#{# TODO #}" class="button redButton borderedButton mediumButton">Télécharger le zip</a></p>
        {% endif %}
    </div>

    <div id="galerie">
        {% for photo in shooting.photos %}
            <figure>
                <img src="{{ photo.thumbnail('front') }}"
                     height="300px" width="300px"
                     onclick="start({{ loop.index0 }});">
                {# <figcaption>{{ "%03d"|format(loop.index) }}</figcaption> #}
            </figure>
        {% endfor %}
    </div>

    {# photoswipe template #}
    {% include "front/_photoswipe_template.html.twig" %}

{% endblock %}

{% block javascripts %}
    {# photoswipe JS #}
    {% include "front/_photoswipe_js.html.twig" %}
{% endblock javascripts %}
